<nav class="navbar navbar-dark bg-dark">
      <ul class="navbar-nav navbar-left navbar-inline">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link"  [routerLink]="['/']">Home</a>
        </li>
        <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link"  [routerLink]="['/profile']">Profile</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link"  [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link"  [routerLink]="['/newpanel']">Create Panel</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()">
          <a class="nav-link" (click)='onLogoutClick()' href="#">Logout</a>
        </li>
      </ul>    
</nav>
